
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    color: white;
    
}

.grid {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [third]1fr [fourth]1fr;
    grid-column-gap: 20px;
    grid-template-rows: [fi] 200px [se] 200px;
    grid-row-gap: 20px;
    height: 80vh;
    width: 90vw;
    background-color: bisque;
    
}
.item {
    width: 30%;
    height: 30%;
  
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    place-self: center center;

    
}

.item-a {
    width:90%;
    height: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
    background-color:brown;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
  
    
}