
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(161,100,223);
}

.btn {
    color: white;
    background: rebeccapurple;
    padding: 1.5rem 3rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    opacity: 0.9;
    scale: 0.97;
}


